<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.excitingboat.freshmanspecial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true">
        <meta-data
            android:name="com.excitingboat.freshmanspecial.utils.MyGlideModule"
            android:value="GlideModule" />

        <activity android:name=".view.activity.FreshmanMainActivity"/>
        <activity android:name=".view.activity.FreshmenGuideActivity" />
        <activity android:name=".view.activity.FreshmenBigDataActivity" />
        <activity android:name=".view.activity.FreshmenCQUPTStyleActivity" />
    </application>

</manifest>