<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mredrock.cyxbs.freshman">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.CquptMienActivity" />
        <activity android:name=".ui.activity.AdmissionRequestActivity" />
        <activity android:name=".ui.activity.strategy.RevealMVPActivity" />
        <activity android:name=".ui.activity.MilitaryTrainingActivity" />
        <activity android:name=".ui.activity.ChatOnlineActivity" />
        <activity android:name=".ui.activity.campus.CampusStrategyEntranceActivity" />
        <activity android:name=".ui.activity.campus.CampusDataDetailActivity" />
        <activity android:name=".ui.activity.PhotoViewerActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.activity.strategy.DormitoryStrategyActivity" />
        <activity android:name=".ui.activity.ReportingProcessActivity" />
        <activity android:name=".ui.activity.ReportingProcessMoreActivity" />
        <activity android:name=".ui.activity.strategy.SameStrategyMVPActivity" />
        <activity android:name=".ui.activity.WordsActivity" />
    </application>

</manifest>
